$primary-color:#7001FD;
$secondary-color:#1E2772;
$text-color:#555555;
$gray-bg:#EEEEEE;
$gray-secondary-bg:#F1F3F6;
$primary-hover-color: #5a01d4; 
$primary-active-color: #4a01b0;
$primary-transparent-10: rgba(112, 1, 253, 0.1);
$primary-transparent-20: rgba(112, 1, 253, 0.2);
